<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoyuan.mapper.APIMapper">


    <select id="second_api" resultType="com.xiaoyuan.model.API">
SELECT
	a.*
FROM
	tl_api_cate ac
	JOIN tl_api a ON a.p_id = ac.id
	where a.is_show = 1 and a.is_show is not null
ORDER BY
	a.p_id
    </select>
    <select id="third_api" resultType="com.xiaoyuan.model.API">
SELECT
	a1.*
FROM
	tl_api a1
	JOIN tl_api a2 ON a1.p_id = a2.id
	where a1.is_show = 1 and a1.is_show is not null
ORDER BY
	a1.p_id
    </select>

    <!--用c连接，前端用api_cate_id判断，在子表加api_cate_id列，决定子菜单归属-->
    <select id="listsbycategroy" resultType="com.xiaoyuan.model.API">
        SELECT
        a.id,
        a.title,
        a.c,
        a.a,
        a.p_id,
        a.str,
        api_cate_id,
        tl_api_cate.title AS api_cate_title,
        a.listsorder
        FROM
        tl_api a
        INNER JOIN tl_api_cate
        ON a.`c` = tl_api_cate.c
        WHERE (
        tl_api_cate.c LIKE '%Erp%'
        OR tl_api_cate.c = 'Region'
        )
        <if test="c != null and c!= ''">
            and a.c=#{c}
        </if>
        <if test="listsorder != null ">
            and a.listsorder=#{listsorder}
        </if>
        <if test="condition != null and condition !=''">
            <![CDATA[${condition}]]>
        </if>
        order by a.c
    </select>
</mapper>