<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoyuan.mapper.ErpCardMapper">
    <select id="lists" resultType="com.xiaoyuan.model.ErpCard">
		SELECT
	d.id,
	d.`card_rfid`,
	dr.`car_sn`,
	d.`card_state`,
	d.`card_open_date`
FROM
	tl_erp_card d,
	tl_erp_car r,
	tl_erp_driver dr
WHERE
	r.driver_id = dr.id
	AND dr.id = d.driver_id
	</select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into
		tl_erp_card(id,gps_id,driver_id,card_state,card_open_date,card_rfid,createtime,updatetime,status_,card_cate)
		values
		(#{id},#{gps_id},#{driver_id},#{card_state},#{card_open_date},#{card_rfid},#{createtime},#{updatetime},#{status_},#{card_cate})
	</insert>
    <insert id="insertCardService">
        insert into
        tl_erp_card
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="card_state != null and card_state != ''">
                card_state,
            </if>
            <if test="driver_id != null and card_open_date != ''">
                driver_id,
            </if>
            <if test="card_open_date != null and card_open_date != ''">
                card_open_date,
            </if>
            <if test="card_rfid != null and card_rfid != ''">
                card_rfid,
            </if>
            <if test="status_ != null ">
                status_,
            </if>
            <if test="createtime != null and createtime != ''">
                createtime,
            </if>
            <if test="updatetime != null and updatetime != ''">
                updatetime,
            </if>
            <if test="card_cate != null and card_cate != ''">
                card_cate,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="card_state != null and card_state != ''">
               #{card_state},
            </if>
            <if test="driver_id != null and driver_id != ''">
                #{driver_id},
            </if>
            <if test="card_open_date != null and card_open_date != ''">
                #{card_open_date},
            </if>
            <if test="card_rfid != null and card_rfid != ''">
               #{card_rfid},
            </if>
            <if test="status_ != null ">
                #{status_},
            </if>
            <if test="createtime != null and createtime != ''">
                #{createtime},
            </if>
            <if test="updatetime != null and updatetime != ''">
                #{updatetime},
            </if>
            <if test="card_cate != null and card_cate != ''">
                #{card_cate}
            </if>
        </trim>
    </insert>

    <update id="updateByDriverId">
        update tl_erp_card
        <set>
            <if test="card_state != null and card_state != ''">
                card_state= #{card_state},
            </if>
            <if test="driver_id != null and driver_id != ''">
                driver_id= #{driver_id},
            </if>
            <if test="card_open_date != null and card_open_date != ''">
                card_open_date= #{card_open_date},
            </if>
            <if test="card_rfid != null and card_rfid != ''">
                card_rfid= #{card_rfid},
            </if>
            <if test="status_ != null ">
                status_= #{status_},
            </if>
            <if test="createtime != null and createtime != ''">
                createtime = #{createtime},
            </if>
            <if test="updatetime != null and updatetime != ''">
                updatetime= #{updatetime},
            </if>
            <if test="card_cate != null and card_cate != ''">
                card_cate= #{card_cate}
            </if>
        </set>
        where driver_id = #{driver_id}
    </update>

    <update id="updateCardService">
            update tl_erp_card
            <set>
                <trim suffixOverrides=",">
                    <if test="card_state != null and card_state != ''">
                        card_state= #{card_state},
                    </if>
                    <if test="driver_id != null and driver_id != ''">
                        driver_id= #{driver_id},
                    </if>
                    <if test="card_open_date != null and card_open_date != ''">
                        card_open_date= #{card_open_date},
                    </if>
                    <if test="card_rfid != null and card_rfid != ''">
                        card_rfid= #{card_rfid},
                    </if>
                    <if test="status_ != null ">
                        status_= #{status_},
                    </if>
                    <if test="createtime != null and createtime != ''">
                        createtime = #{createtime},
                    </if>
                    <if test="updatetime != null and updatetime != ''">
                        updatetime= #{updatetime},
                    </if>
                    <if test="card_cate != null and card_cate != ''">
                        card_cate= #{card_cate},
                    </if>
                </trim>
            </set>
            where id = #{id}
    </update>

    <select id="get" resultType="com.xiaoyuan.model.ErpCard">
		select driver_id, card_state,card_open_date,card_rfid,card_cate from tl_erp_card where id = #{id}
	</select>

    <select id="getCardByCarid" resultType="com.xiaoyuan.model.ErpCard">
		select driver_id, card_state,card_open_date,card_rfid,card_cate from tl_erp_card where driver_id = #{car_id}
	</select>


</mapper>