<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoyuan.mapper.ErpIngoodsMapper" >
  <update id="updateByUserid">
  	update tl_erp_rebate
  	<set>
  		<if test="rebate_amount != null">
  			rebate_amount=#{rebate_amount},
  		</if>
  		<if test="updatetime != null and updatetime != ''">
				updatetime= #{updatetime},
		</if>
  		<if test="rebate_rate != null">
  			rebate_rate=#{rebate_rate}
  		</if>
  	</set>
  	
  	where user_id=#{user_id}
  </update>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id">
	  insert into tl_erp_ingoods(id,supplier_id,ingoods_num,ingoods_price,ingoods_man,ingoods_incate,ingoods_send_company,
	  ingoods_remark,ingoods_car_sn,createtime,updatetime,status_,ingoods_sn,goods_name,goods_sn,goods_spec,ingoods_totalprice,setgoods_date,ingoods_cate,ingoods_money,audit)
	  values
	  (#{id},#{supplier_id},#{ingoods_num},#{ingoods_price},#{ingoods_man},#{ingoods_incate},#{ingoods_send_company},
	  #{ingoods_remark},#{ingoods_car_sn}, #{createtime},#{updatetime}, #{status_},#{ingoods_sn},#{goods_name},#{goods_sn},#{goods_spec},#{ingoods_totalprice},#{setgoods_date},#{ingoods_cate},#{ingoods_money},#{audit})
  </insert>
  
  <select id="lists" resultType="com.xiaoyuan.model.ErpIngoods">
  		SELECT i.id,supplier_id,u.`user_company_name` AS company_name,s.`goods_name` AS goods_name,s.goods_sn AS goods_sn,s.`supplier_name` AS supplier_name,i.`ingoods_price`,ingoods_num,ingoods_man,ingoods_cate,ingoods_totalprice,ingoods_send_company FROM tl_erp_ingoods i,tl_erp_supplier s,tl_erp_user u 
		WHERE i.`supplier_id` = s.id 
		AND u.id = s.user_id
		and i.ingoods_cate=2
		AND i.status_=1
		AND i.audit=0
		<if test="ingoods_car_sn != null and ingoods_car_sn != ''">
			and i.ingoods_car_sn IS NOT NULL
		</if>
  </select>
  
  <select id="lists_statistical" resultType="com.xiaoyuan.model.ErpIngoods">
SELECT 
  i.id,
  i.goods_name,
  i.`ingoods_cate`,
  i.`ingoods_sn`,
  ingoods_num,
  ingoods_man,
  i.`goods_spec`,
  i.`goods_sn`,
  s.`supplier_name` AS supplier_name,
  ingoods_price,
  ingoods_car_sn,
  i.createtime 
FROM
  tl_erp_supplier s,
  tl_erp_ingoods i 
WHERE i.`supplier_id` = s.id 
  </select>
  
  <select id="get" resultType="com.xiaoyuan.model.ErpIngoods">
select supplier_id,goods_name, ingoods_num,ingoods_price,ingoods_man,ingoods_incate,ingoods_send_company,ingoods_remark,ingoods_car_sn,ingoods_sn,ingoods_totalprice from tl_erp_ingoods where id =#{id}
	</select>
 <select id="out_lists" resultType="com.xiaoyuan.model.ErpIngoods">
 SELECT i.ingoods_sn,i.ingoods_num,i.ingoods_incate,i.ingoods_man,i.ingoods_car_sn,s.supplier_name,s.goods_name,s.goods_sn,s.supplier_spec FROM 
 tl_erp_ingoods i,tl_erp_supplier s  WHERE i.`supplier_id` = s.id AND i.`ingoods_car_sn` = #{ingoods_car_sn}
 
 </select>
 
 <select id="in_warehouse" resultType="com.xiaoyuan.model.ErpIngoods">
  SELECT 
  i.ingoods_car_sn,
  i.ingoods_sn,
  i.ingoods_send_company,
  i.goods_name,
  i.goods_sn,
  i.goods_spec ,
  i.ingoods_remark,
  u.user_name AS user_name,
  s.supplier_name AS supplier_name
  FROM tl_erp_ingoods i,tl_erp_supplier s,tl_erp_user u
  WHERE i.`ingoods_sn` =#{ingoods_sn}
  AND i.`supplier_id` = s.id
  AND u.`id` =  (SELECT d.user_id FROM tl_erp_driver d WHERE d.`car_sn` =#{ingoods_car_sn})
 
 </select>
 
 <select id="purchase"  resultType="com.xiaoyuan.model.ErpIngoods">
 SELECT 
  i.ingoods_car_sn,
  i.ingoods_sn,
  i.goods_name,
  i.goods_sn,
  i.goods_spec,
  i.ingoods_remark,
  i.`setgoods_date`,
  i.`ingoods_num`,
  i.`ingoods_man`,
  i.`ingoods_cate`,
  u.user_name AS user_name,
  u.`user_company_name` AS company_name,
  u.`company_address` AS company_address
  FROM tl_erp_ingoods i,tl_erp_supplier s,tl_erp_user u
  WHERE i.`ingoods_sn` =#{ingoods_sn}
  AND i.`supplier_id` = s.id
  AND u.`id` =  (SELECT d.user_id FROM tl_erp_driver d WHERE d.`car_sn` =#{ingoods_car_sn})
 
 
 </select>
 
 <select id="lists_price" resultType="com.xiaoyuan.model.ErpIngoods">
 	SELECT i.id, i.`ingoods_send_company` AS company_name, i.goods_sn,i.goods_name,i.`ingoods_price`,i.supplier_id as supplier_id FROM 
 	tl_erp_ingoods i,tl_erp_supplier s,tl_erp_user u 
	WHERE i.`supplier_id` = s.id AND u.id = s.`user_id`
	AND i.status_=0
	<if test="supplier_id != null">
	and	s.`user_id` = #{id}
	</if>
	<!-- GROUP BY i.id -->
	<!-- u.`user_company_name`,i.goods_sn -->
 </select>

<select id="lists_audit" resultType="com.xiaoyuan.model.ErpIngoods">
	SELECT i.id,i.ingoods_sn,i.`goods_sn`,s.`supplier_name` AS supplier_name,i.`ingoods_car_sn`,i.`createtime` FROM tl_erp_ingoods i,tl_erp_supplier s
	WHERE s.id = i.`supplier_id`
	AND i.audit =0 
</select>	

<select id="getPriceByMessage" resultType="com.xiaoyuan.model.ErpIngoods">
	select ingoods_price from tl_erp_ingoods i where
	i.supplier_id=#{supplier_id}
	and
	i.goods_name = #{goods_name}
</select>
</mapper>