<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoyuan.mapper.ErpRebateMapper" >
	<select id="lists" resultType="com.xiaoyuan.model.ErpRebate">
		SELECT e.user_id,e.id, e.rebate_month,u.user_name,u.sales_area AS sales_area,e.rebate_points,t.`account_totalrecharge` AS account_totalrecharge,e.rebate_audit FROM tl_erp_rebate e,tl_erp_user u,tl_erp_account t 
		WHERE u.id = e.user_id AND t.user_id = u.id
	</select>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
	insert into tl_erp_rebate(id,user_id,rebate_points,rebate_rate,rebate_audit,createtime,updatetime,status_,rebate_month)
	values
	(#{id},#{user_id},#{rebate_points},#{rebate_rate},#{rebate_audit},#{createtime},#{updatetime},#{status_},#{rebate_month})
	</insert>
	
	 <select id="get" resultType="com.xiaoyuan.model.ErpRebate">
		SELECT rebate_points,rebate_rate,rebate_audit,rebate_amount,rebate_month where id = #{id}
	 </select>
	 
	 <update id="updateByUserid">
	 	update tl_erp_rebate
	 	<set>
	 		<if test="rebate_points !=null">
	 			rebate_points=#{rebate_points},
	 		</if>
	 		<if test="rebate_audit !=null">
	 			rebate_audit=#{rebate_audit},
	 		</if>
	 		<if test="rebate_rate !=null">
	 			rebate_rate=#{rebate_rate},
	 		</if>
	 	</set>
	 	where user_id = #{user_id}
	 </update>
</mapper>