<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoyuan.mapper.ErpWareHouseMapper">

<select id="lists" resultType="com.xiaoyuan.model.ErpWareHouse">
SELECT warehouse_sn,warehouse_real,warehouse_surface,warehouse_time,supplier_spec,goods_unit,goods_name,goods_sn FROM tl_erp_warehouse,tl_erp_supplier s WHERE supplier_id =  s.id

</select>
<select id="out_lists" resultType="com.xiaoyuan.model.ErpWareHouse">
SELECT c.id, c.car_order_sn,c.car_order_pickdate,p.pickgoods_car_sn,s.goods_name,s.goods_sn,s.supplier_spec,u.user_company_name,p.pickgoods_send_company,p.pickgoods_num,s.goods_price,c.car_order_address FROM 
tl_erp_supplier s,tl_erp_car_order c,tl_erp_pickgoods p,tl_erp_user u WHERE u.id = s.`user_id` AND s.`id` = p.`supplier_id`
</select>

<insert id="insert" useGeneratedKeys="true" keyProperty="id">

	  insert into tl_erp_warehouse(id,warehouse_sn,warehouse_real,warehouse_surface,warehouse_time,createtime,updatetime,status_,supplier_id,car_order_id,pickgoods_id)

	 values(#{id},#{warehouse_sn},#{warehouse_real},#{warehouse_surface},#{warehouse_time},#{createtime},#{updatetime},#{status_},#{supplier_id},#{car_order_id},#{pickgoods_id})
	</insert>

<select id="wareHouse" resultType="com.xiaoyuan.model.ErpWareHouse">
SELECT 
  w.warehouse_real,
  w.warehouse_surface,
  s.goods_sn AS goods_sn,
  s.goods_name AS goods_name,
  s.supplier_spec AS supplier_spec,
  s.goods_unit AS goods_unit
FROM
  tl_erp_warehouse w,
  tl_erp_supplier s 
WHERE w.`supplier_id` = s.`id` 
</select>
</mapper>